@model GalleryApp.Core.ViewModels.ImagesByGalleryViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-3">
    @Html.ActionLink("All Images", "Index", null,new {@class="btn btn-default" })

    @foreach (var item in Model.Galleries)
    {
    <a href="@Url.Action("Index","Home",new {GalleryName = item.GalleryName })">
        <img class="img-responsive" src="~/Content/Gallery/@item.ImageUrl" style="height:100px;padding:10px;margin:10px" />
    </a>

    }

</div>
<div class="col-md-9">
    @foreach (var item in Model.GalleryImages)
    {
        <div class="col-md-2" style="height:150px;padding:10px;margin:10px;border:solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img-responsive" style="height:100px" src="~/Content/GalleryImages/@item.GalleryImageUrl" />
            </div>

            <div class="col-md-12">
                @item.CreatedAt
            </div>

        </div>
    }
</div>

<div class="col-md-12 clearfix"></div>